body {
  margin: 0;
  background-color: white;
}

header {
background-color: rgb(238, 238, 238);
box-shadow: 0px 10px 10px -10px;
height: 80px;
width: 100%;
margin: 0;
padding: 0;
}

ul#navigation {
display: flex;
align-items: center;
justify-content: center;
list-style: none;
padding: 10px;
margin: 0;
}

ul#navigation li {
  display: inline;
}

li a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

section {
  margin: 0;
  padding: 0;
}